Package: parrot-meta-sdr
Source: parrot-meta
Version: 0.4
Architecture: all
Maintainer: Lorenzo "EclipseSpark" Faletra <eclipse@frozenbox.org>
Installed-Size: 28
Recommends: gnuradio, chirp, hackrf, kalibrate-rtl, rtlsdr-scanner, gqrx, uhd-host, uhd-images, libgnuradio-baz, gr-osmosdr, gr-iqbal
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security SDR tools
 This is Parrot Security, the most advanced penetration testing and security
 auditing distribution.
 .
 This metapackage depends on all the applications that Parrot Security
 provides on top of Debian GNU/Linux.
