Package: parrot-meta-wireless
Source: parrot-meta
Version: 0.3
Architecture: all
Maintainer: Lorenzo "EclipseSpark" Faletra <eclipse@frozenbox.org>
Installed-Size: 28
Depends: parrot-meta-sdr
Recommends: aircrack-ng, arimode, pyrit, asleap, bluelog, bluepot, bluemaho, blueranger, bluesnarfer, bluez, bluez-hcidump, btscanner, bully, cowpatty, crackle, eapmd5pass, fern-wifi-cracker, giskismet, iw, killerbee, kismet, libfreefare-bin, libnfc-bin, macchanger, mdk3, mfcuk, mfoc, mfterm, oclhashcat, python-rfidiot, reaver, redfang, rfcat, rfkill, sakis3g, spectools, spooftooph, ubertooth, wifi-honey, wifitap, wifite, wireshark
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security wireless tools
 This is Parrot Security, the most advanced penetration testing and security
 auditing distribution.
 .
 This metapackage depends on all the applications that Parrot Security
 provides on top of Debian GNU/Linux.
