Source: parrot-tools
Priority: optional
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>
Standards-Version: 4.3.0
Section: info
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: pkg-config
Homepage: https://www.parrotsec.org/


Package: parrot-crypto
Architecture: all
Depends: zulucrypt, sirikali
Recommends: gpa, gocryptfs, encfs, cryptkeeper, cryfs, gocryptfs
Suggests: parrot-privacy
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Encryption Tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the cryptographic tools.


Package: parrot-privacy
Architecture: any
Depends: anonsurf, tor, torbrowser-launcher
Recommends: ricochet-im, nyx, onionshare, onioncircuits, mat2, anonsurf-gtk
Suggests: parrot-crypto
Provides: parrot-anon
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Privacy Protection Tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the privacy protection tools.


Package: parrot-devel
Architecture: all
Depends: geany
Recommends: parrot-devel-tools, geany, codium | vscodium, zeal, git-cola, meld, dbeaver
Suggests: parrot-devel-extra
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Development Tools (IDEs & utilities)
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the development environments for
 various programming languages.

Package: parrot-devel-tools
Architecture: all
Depends: gcc, g++, python3, ruby
Recommends: default-jdk, cargo, valac, php-cli, golang
Suggests: parrot-devel-extra
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Development tools (compilers & tools)
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the compilers, interpreters and tools
 for various programming languages.

Package: parrot-devel-extra
Architecture: all
Depends: parrot-devel-tools
Recommends: parrot-devel-node, mono-devel, mono-runtime, perl6, qtcreator, qtbase5-dev, qt5-default, qt5-qmake, cython3, edb-debugger, jad, flasm, nasm, radare2, radare2-cutter, cmake, valgrind, devscripts, build-essential
Suggests: gdb, clang
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Development tools (extra tools)
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the compilers, interpreters and tools
 for various programming languages.

Package: parrot-devel-node
Architecture: all
Depends: nodejs, npm
Suggests: chromium
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Development kit for NodeJS
 This metapackage provides a ready to use set of tools to work with nodejs.

Package: parrot-devel-dotnet
Architecture: all
Depends: mono-devel, mono-runtime
Recommends: mono-complete, mono-tools
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Development kit for .NET/MONO
 This metapackage provides a ready to use set of tools to work with Microsoft .NET and MONO.

Package: parrot-devel-nim
Architecture: all
Depends: nim
Recommends: libnim-gintro-dev
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Development kit for Nim lang
 This metapackage provides a ready to use set of tools to work with the NIM programming language.

Package: parrot-devel-golang
Architecture: all
Depends: golang-go
Recommends: golang, golang-src, golang-doc,
            golang-easyjson, golang-github-gin-gonic-gin-dev, golang-github-go-chef-chef-dev,
            golang-github-go-errors-errors-dev, golang-github-go-kit-kit-dev, golang-github-go-ini-ini-dev,
            golang-github-go-ldap-ldap-dev, golang-github-go-logfmt-logfmt-dev, golang-github-go-redis-redis-dev,
            golang-github-gorhill-cronexpr-dev, golang-github-gorilla-context-dev, golang-github-gorilla-csrf-dev,
            golang-github-boj-redistore-dev, golang-github-gorilla-handlers-dev, golang-github-gorilla-mux-dev,
            golang-github-gorilla-pat-dev, golang-github-gorilla-rpc-dev, golang-github-gorilla-securecookie-dev,
            golang-github-gorilla-sessions-dev, golang-github-gorilla-websocket-dev, golang-github-gotk3-gotk3-dev,
            golang-golang-x-crypto-dev, golang-golang-x-image-dev, golang-golang-x-mod-dev, golang-golang-x-net-dev,
            golang-golang-x-sys-dev, golang-golang-x-time-dev, golang-golang-x-tools-dev,
Section: metapackages
Priority: optional
Homepage: https://www.parrotsec.org
Description: Parrot Development kit for Go (Golang)
 This metapackage provides a ready to use set of tools to work with the Go programming language (Golang).
        
Package: vscodium
Architecture: all
Depends: codium
Replaces: vscodium (< 1.35)
Breaks: vscodium (< 1.35)
Section: metapackages
Priority: optional
Homepage: https://www.vscodium.com
Description: Free/Libre Open Source Software Binaries of VSCode
 Transitional package. Moved to codium.
 .
 This metapackage provides the compilers, interpreters and tools
 for various programming languages.

Package: vscode
Architecture: all
Depends: codium
Replaces: vscodium (< 1.35)
Breaks: vscodium (< 1.35)
Section: metapackages
Priority: optional
Homepage: https://www.vscodium.com
Description: Free/Libre Open Source Software Binaries of VSCode (VSCodium)
 Transitional package. Moved to codium.
 .
 This metapackage provides the compilers, interpreters and tools
 for various programming languages.

Package: code
Architecture: all
Depends: codium
Replaces: vscodium (< 1.35)
Breaks: vscodium (< 1.35)
Section: metapackages
Priority: optional
Homepage: https://www.vscodium.com
Description: Free/Libre Open Source Software Binaries of VSCode (VSCodium)
 Transitional package. Moved to codium.
 .
 This metapackage provides the compilers, interpreters and tools
 for various programming languages.

Package: parrot-tools-info
Architecture: all
Depends:
  amap,
  arping,
  cdpsnarf,
  thc-ipv6,
  dmitry,
  dnsenum,
  dnsmap,
  etherape,
  hping3,
  ike-scan,
  maltego,
  masscan,
  metagoofil,
  nbtscan,
  netdiscover,
  nmap,
  p0f,
  recon-ng,
  theharvester,
  unicornscan,
  python3-shodan,
Section: metapackages
Priority: optional
Description: Pentest tool list for information gathering
  more descriptions here

Package: parrot-tools-info-extra
Depends:
  fierce,
  fragrouter,
  ftester,
  irpas,
  intrace,
Section: metapackages
Priority: optional
Description: Pentest tool list for information gathering
  more descriptions here

Package: parrot-tools-enum
Depends:
  gobuster,
  smbmap,
  smtp-user-enum,
  snmpcheck,
  onesixtyone,
  enum4linux,
  ismtp,
  swaks,
  dirb,
  dirbuster,
  whatweb,
  enumiax,
  sslscan,
  wig,
  lbd,
Section: metapackages
Priority: optional
Description: Enumeration tools
  more descriptions here

Package: parrot-tools-vuln
Architecture: all
Depends:
  bed,
  ohrwurm,
  spike,
  wfuzz,
  sslyze,
  thc-ipv6,
  dhcpig,
  gvm,
  iaxflood,
  inviteflood,
  dsniff,
  protos-sip,
  rtpbreak,
  rtpflood,
  rtpinsertsound,
  rtpmixsound,
  sctpscan,
  siege,
  sipp,
  slowhttptest,
  sipvicious,
  thc-ssl-dos,
  voiphopper,
  yersinia,
  burpsuite,
  commix,
  davtest,
  fimap,
  joomscan,
  nikto,
  skipfish,
  wpscan,
  xsser,
  zaproxy,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here

Package: parrot-tools-pwn
Architecture: all
Depends:
  armitage,
  beef-xss,
  commix,
  thc-ipv6,
  fimap,
  jsql-injection,
  king-phisher,
  mdbtools,
  metasploit-framework,
  msfpc,
  oscanner,
  pompem, # TODO replace by Parrot's native tool
  set,
  shellnoob,
  sidguesser,
  sqlmap,
  websploit, # TODO keep an eye on this
  unicorn-magic,
  padbuster,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here


Package: parrot-tools-maintain
Architecture: all
Depends:
  backdoor-factory,
  bdfproxy,
  cryptcat,
  dbd,
  dns2tcp,
  hyperion,
  iodine,
  laudanum,
  miredo,
  nishang,
  proxychains,
  proxytunnel,
  ptunnel,
  pwnat,
  sbd,
  shellter,
  socat,
  sslh,
  stunnel4,
  udptunnel,
  webacoo,
  weevely,
  windows-binaries,
  webshells,
  sslh,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here

Package: parrot-tools-postexploit
Architecture: all
Depends:
  cymothoa,
  mimikatz,
  powersploit,
  passing-the-hash,
  wce,
  lynis,
  unix-privesc-check,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here


Package: parrot-tools-password
Architecture: all
Depends:
  brutespray,
  cewl,
  changeme,
  chntpw,
  cmospwd,
  crackle,
  crunch,
  fcrackzip,
  findmyhash,
  hashid,
  hashcat,
  hydra,
  john,
  johnny,
  onesixtyone,
  ophcrack-cli,
  ophcrack,
  pdfcrack,
  pipal,
  pixiewps,
  rainbowcrack,
  rarcrack,
  rcracki-mt,
  rsmangler,
  samdump2,
  sipcrack,
  sucrack,
  thc-pptp-bruter,
  truecrack,
  twofi,
  wordlists,
  device-pharmer,
  xspy,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here


Package: parrot-tools-wireless
Architecture: all
Depends:
  aircrack-ng,
  airgeddon,
  asleap,
  bluelog,
  blueranger,
  bluesnarfer,
  btscanner,
  bully,
  cowpatty,
  crackle,
  eapmd5pass,
  fern-wifi-cracker,
  hackrf,
  inspectrum,
  king-phisher,
  mdk3,
  mfcuk,
  mfoc,
  mfterm,
  libfreefare-bin,
  libnfc-bin,
  pixiewps,
  reaver,
  redfang,
  rfcat,
  rtlsdr-scanner,
  ubertooth,
  wifi-honey,
  wifite,
  yersinia,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here


Package: parrot-tools-sniff
Architecture: all
Depends:
  bdfproxy,
  bettercap,
  chaosreader,
  darkstat,
  dnschef,
  dsniff,
  ssldump,
  driftnet,
  etherape,
  ettercap-graphical,
  thc-ipv6,
  fiked,
  hamster-sidejack,
  hexinject,
  isr-evilgrade,
  mitmproxy,
  netsniff-ng,
  rebind,
  responder,
  sslsniff,
  sslsplit,
  tcpreplay,
  wifi-honey,
  wireshark,
  yersinia,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here

Package: parrot-tools-forensic
Architecture: all
Depends:
  afflib-tools,
  autopsy,
  binwalk,
  sleuthkit,
  bulk-extractor,
  dc3dd,
  dcfldd,
  ddrescue,
  dex2jar,
  ewf-tools,
  extundelete,
  foremost,
  galleta,
  guymager,
  hashdeep,
  magicrescue,
  missidentify,
  pasco,
  pdf-parser,
  pdfid,
  python-peepdf,
  pev,
  radare2,
  recoverjpeg,
  reglookup,
  regripper,
  rifiuti,
  rifiuti2,
  safecopy,
  scalpel,
  scrounge-ntfs,
  vinetto,
  volafox,
  volatility,
  xplico,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here

Package: parrot-tools-car
Architecture: all
Depends:
  can-utils,
  beef-xss,
  kayak,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here

Package: parrot-tools-reversing
Architecture: all
Depends:
  dex2jar,
  edb-debugger,
  flasm,
  gdb,
  javasnoop,
  metasploit-framework,
  radare2,
  smali,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here

Package: parrot-tools-report
Architecture: all
Depends:
  eyewitness,
  faraday-client,
  metagoofil,
Section: metapackages
Priority: optional
Description: Pentest tool list for x
  more descriptions here