Package: parrot-meta-rfid
Source: parrot-meta
Version: 0.3
Architecture: all
Maintainer: Lorenzo "EclipseSpark" Faletra <eclipse@frozenbox.org>
Installed-Size: 28
Recommends: libfreefare-bin, libnfc-bin, mfcuk, mfoc, mfterm, python-rfidiot
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security RFID tools
 This is Parrot Security, the most advanced penetration testing and security
 auditing distribution.
 .
 This metapackage depends on all the applications that Parrot Security
 provides on top of Debian GNU/Linux.
