Package: parrot-meta-pwtools
Source: parrot-meta
Version: 0.4
Architecture: all
Maintainer: Lorenzo "EclipseSpark" Faletra <eclipse@frozenbox.org>
Installed-Size: 28
Recommends: parrot-meta-gpu, chntpw, cmospwd, crunch, fcrackzip, findmyhash, gpp-decrypt, hash-identifier, hashcat, hashcat-utils, hashid, hydra, hydra-gtk, john, johnny, keimpx, maskprocessor, medusa, mimikatz, ncrack, ophcrack, ophcrack-cli, pack, passing-the-hash, patator, pdfcrack, pipal, polenum, rainbowcrack, rarcrack, rcracki-mt, rsmangler, samdump2, seclists, sipcrack, sipvicious, sqldict, statsprocessor, sucrack, thc-pptp-bruter, truecrack, twofi, wce, wordlists
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security password cracking tools
 This is Parrot Security, the most advanced penetration testing and security
 auditing distribution.
 .
 This metapackage depends on all the applications that Parrot Security
 provides on top of Debian GNU/Linux.
