Source: parrot-tools
Priority: optional
Maintainer: Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
Standards-Version: 3.9.8
Section: info
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: pkg-config
Homepage: http://www.parrotsec.org/


Package: parrot-crypto
Architecture: all
Depends: zulucrypt, sirikali
Recommends: gpa, gocryptfs, encfs, cryptkeeper, cryfs, gocryptfs, anonsurf, mat
Provides: parrot-anon
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Encryption Tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the cryptographic tools.



Package: parrot-tools
Architecture: all
Recommends:
 aircrack-ng,
 apache-users,
 armitage,
 arping,
 asleap,
 bbqsql,
 bdfproxy,
 bed,
 bettercap,
 binwalk,
 bluelog,
 bluemaho,
 bluepot,
 blueranger,
 bokken,
 bulk-extractor,
 bully,
 burpsuite,
 cadaver,
 chiron,
 chkrootkit,
 chntpw,
 cisco-auditing-tool,
 cisco-global-exploiter,
 clusterd,
 cmospwd,
 cowpatty,
 creddump,
 creepy,
 criptator,
 crunch,
 cryptcat,
 cutycapt,
 cymothoa,
 davtest,
 dbd,
 dc3dd,
 dcfldd,
 ddrescue,
 dff,
 dhcpig,
 dirb,
 dirbuster,
 dissy,
 dmitry,
 dnmap,
 dns2tcp,
 dnschef,
 dnsenum,
 dnsrecon,
 dnstracer,
 dnswalk,
 dos2unix,
 dsniff,
 dvdisaster,
 eapmd5pass,
 edb-debugger,
 enumiax,
 etherwake,
 ethtool,
 ettercap-graphical,
 fcrackzip,
 fern-wifi-cracker,
 ferret,
 fierce,
 fimap,
 findmyhash,
 foremost,
 fping,
 fragroute,
 fragrouter,
 framework2,
 ftester,
 golismero,
 goofile,
 grabber,
 hashcat,
 hashcat-utils,
 hash-identifier,
 heartbleech,
 hexinject,
 hexorbase,
 heybe,
 hotpatch,
 hping3,
 htshells,
 hydra,
 hydra-gtk,
 iaxflood,
 imsniff,
 infoip,
 intersect,
 inundator,
 inurlbr,
 iodine,
 ipscan,
 isr-evilgrade,
 jad,
 jboss-autopwn,
 john,
 johnny,
 joomlascan,
 joomscan,
 kismet,
 kismet-plugins,
 laudanum,
 libfindrtp,
 libnet1-dev,
 libpcap-dev,
 links,
 links2,
 lynis,
 macchanger,
 magicrescue,
 magictree,
 maligno,
 maskprocessor,
 mc,
 md5deep,
 mdk3,
 medusa,
 metagoofil,
 metasploit-framework,
 miranda,
 miredo,
 mitmf,
 mitmproxy,
 multimac,
 nasm,
 nbtscan,
 ncrack,
 netdiscover,
 netmask,
 nikto,
 nishang,
 nmap,
 openssh-server,
 ophcrack,
 ophcrack-cli,
 oscanner,
 outguess,
 p0f,
 parrot-crypto,
 pasco,
 patator,
 penmode2,
 pixiewps,
 plecost,
 pompem,
 powersploit,
 proxychains,
 proxystrike,
 proxytunnel,
 ptunnel,
 pwnat,
 pyrit,
 rainbowcrack,
 reaver,
 recon-ng,
 recoverjpeg,
 redfang,
 reglookup,
 responder,
 rifiuti2,
 rig,
 rkhunter,
 safecopy,
 samdump2,
 sandi,
 sbd,
 scalpel,
 scripts4cf,
 scrounge-ntfs,
 set,
 sfuzz,
 shellinabox,
 siege,
 skipfish,
 slowloris,
 smbmap,
 smtp-user-enum,
 snmpcheck,
 socat,
 spiderfoot,
 spooftooph,
 sqldict,
 sqlmap,
 sqlninja,
 sqlsus,
 sslcaudit,
 ssldump,
 sslscan,
 sslsniff,
 sslstrip,
 ssvnc,
 steghide,
 t50,
 tccf,
 tcpick,
 tcptrace,
 tcpxtract,
 tdsog,
 testdisk,
 thc-ipv6,
 thc-ssl-dos,
 theharvester,
 themole,
 tlssled,
 traceroute,
 truecrack,
 u3-pwn,
 ua-tester,
 udptunnel,
 unix-privesc-check,
 urlcrazy,
 vane,
 vega,
 vinagre,
 vinetto,
 vino,
 volafox,
 volatility,
 w3af,
 wapiti,
 wce,
 webacoo,
 webshells,
 webslayer,
 websploit,
 weevely,
 whatweb,
 whois,
 wifi-honey,
 wifiphisher,
 wifite,
 wireguard,
 wireshark,
 wpscan,
 xprobe,
 xspy,
 xsser,
 yasat,
 yersinia,
 zaproxy,
 zenmap
Suggests: oclhashcat,
 blindelephant,
 casefile,
 dbpwaudit,
 dradis,
 gresolver,
 hotpatch,
 ikat,
 killerbee,
 apktool,
 openvas,
 xplico,
 maltego,
 maltego-teeth,
 beef-xss,
 mana-toolkit
Section: metapackages
Priority: optional
Description: Penetration testing and security auditing distribution,
 default system
 This is Parrot Security OS,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides a standard set of security tools.


Package: parrot-tools-full
Architecture: any
Depends: parrot-tools
Recommends: parrot-tools,
 parrot-tools,
 parrot-meta-all,
 parrot-meta-full,
 parrot-meta-forensics,
 parrot-meta-gpu,
 parrot-meta-pwtools,
 parrot-meta-rfid,
 parrot-meta-sdr,
 parrot-meta-voip,
 parrot-meta-web,
 parrot-meta-wireless,
 parrot-meta-automotive,
 parrot-crypto,
 nginx,
 atftpd,
 axel,
 exe2hexbat,
 expect,
 gdisk,
 git,
 gparted,
 iw,
 lvm2,
 mercurial,
 mlocate,
 default-mysql-server,
 postgresql,
 netcat-traditional,
 openssh-server,
 openvpn,
 p7zip-full,
 parted,
 php,
 php-mysql,
 php-pgsql,
 rfkill,
 samba,
 screen,
 snmpd,
 snmp,
 subversion,
 sudo,
 tcpdump,
 testdisk,
 tightvncserver,
 tftp,
 tmux,
 unrar | unar,
 upx-ucl,
 whois,
 zerofree,
 0trace,
 acccheck,
 ace-voip,
 afflib-tools,
 aircrack-ng,
 amap,
 apache-users,
 apktool [amd64 i386],
 armitage [amd64 i386],
 arping | iputils-arping,
 arp-scan,
 arpwatch,
 asleap,
 automater,
 autopsy,
 backdoor-factory,
 bbqsql,
 bdfproxy,
 bed,
 beef-xss [amd64 i386 armhf arm64],
 binwalk,
 blindelephant,
 bluelog,
 blueranger,
 bluesnarfer,
 bluez,
 bluez-hcidump,
 braa,
 btscanner,
 bulk-extractor [amd64 i386],
 bully,
 burpsuite,
 cabextract,
 cadaver,
 casefile,
 cdpsnarf,
 cewl,
 cgpt,
 chirp,
 chkrootkit,
 chntpw,
 cisco-auditing-tool,
 cisco-global-exploiter,
 cisco-ocs,
 cisco-torch,
 clang,
 clusterd,
 cmospwd [amd64 i386],
 commix,
 copy-router-config [amd64 i386],
 cowpatty,
 creddump,
 crunch,
 cryptcat,
 cryptsetup,
 curlftpfs,
 cutycapt,
 cymothoa [amd64 i386],
 darkstat,
 davtest,
 dbd,
 dc3dd,
 dcfldd,
 ddrescue,
 deblaze,
 dex2jar,
 dhcpig,
 dirb,
 dirbuster,
 dissy,
 dmitry,
 dnmap,
 dns2tcp,
 dnschef,
 dnsenum,
 dnsmap [amd64 i386],
 dnsrecon [amd64 i386],
 dnstracer,
 dnswalk,
 doona,
 dos2unix,
 dotdotpwn,
 dradis [amd64 i386],
 driftnet,
 dsniff,
 dumpzilla,
 eapmd5pass,
 edb-debugger [amd64 i386],
 enum4linux,
 enumiax,
 ethtool,
 ettercap-graphical,
 ewf-tools,
 exiv2,
 exploitdb,
 extundelete,
 fcrackzip,
 fern-wifi-cracker,
 ferret-sidejack [i386],
 fierce,
 fiked,
 fimap,
 findmyhash,
 flasm,
 foremost,
 fping,
 fragroute,
 fragrouter,
 framework2,
 ftester,
 funkload,
 galleta,
 gdb,
 cgdb,
 ghost-phisher,
 giskismet,
 golismero,
 gpp-decrypt,
 grabber,
 guymager [amd64 i386],
 hackrf,
 hamster-sidejack,
 hash-identifier,
 hashcat [amd64 i386],
 hashcat-utils [amd64 i386],
 hashdeep,
 hashid,
 hash-identifier,
 hexinject,
 hexorbase,
 hashid,
 hotpatch [amd64 i386],
 hping3,
 httrack,
 hydra,
 hydra-gtk,
 i2c-tools,
 iaxflood,
 ifenslave,
 ike-scan,
 inetsim,
 intersect,
 intrace [amd64 i386],
 inviteflood,
 iodine,
 irpas [amd64 i386],
 jad,
 javasnoop,
 jboss-autopwn,
 john,
 johnny,
 joomscan,
 jsql-injection,
 jsql,
 keimpx,
 killerbee,
 king-phisher,
 kismet,
 laudanum,
 lbd,
 libfindrtp [amd64 i386],
 libfreefare-bin,
 libhivex-bin,
 libnfc-bin,
 lynis,
 macchanger,
 magicrescue,
 magictree,
 maltegoce,
 maltego-teeth,
 maskprocessor [amd64 i386],
 masscan [amd64],
 mdbtools,
 mdk3,
 medusa,
 memdump,
 metasploit-framework,
 mfcuk,
 mfoc,
 mfterm,
 mimikatz,
 miranda,
 miredo,
 missidentify,
 mitmproxy,
 msfpc,
 multimac,
 nasm,
 nbtscan,
 ncat-w32,
 ncrack,
 ncurses-hexedit,
 netdiscover,
 netmask,
 netsed,
 netsniff-ng [amd64 i386 powerpc sparc],
 netwag,
 nfspy,
 ngrep,
 nikto,
 nipper-ng,
 nishang,
 nmap,
 ohrwurm,
 ollydbg [amd64 i386],
 onesixtyone,
 ophcrack,
 ophcrack-cli,
 oscanner,
 p0f,
 pack,
 padbuster,
 paros,
 pasco,
 passing-the-hash,
 patator,
 pdfid,
 pdf-parser,
 pdgmail,
 peepdf,
 perl-cisco-copyconfig [amd64 i386],
 pev,
 pipal,
 pixiewps,
 plecost,
 polenum,
 powerfuzzer,
 powersploit,
 protos-sip,
 proxychains,
 proxystrike,
 proxytunnel,
 ptunnel,
 pwnat,
 pyrit,
 python-faraday [amd64 i386],
 python-impacket,
 python-rfidiot,
 python-scapy,
 radare2,
 rainbowcrack [amd64 i386],
 rake,
 rcracki-mt,
 readpst,
 reaver,
 rebind,
 recon-ng,
 vokoscreen,
 recoverjpeg,
 recstudio [i386],
 redfang,
 redsocks,
 reglookup,
 regripper [amd64 i386],
 responder,
 rifiuti,
 rifiuti2,
 rsmangler,
 rtpbreak,
 rtpflood,
 rtpinsertsound [amd64 i386],
 rtpmixsound [amd64 i386],
 safecopy,
 sakis3g,
 samdump2,
 sbd,
 scalpel,
 scrounge-ntfs,
 sctpscan [amd64 i386],
 sendemail,
 set,
 sfuzz,
 sidguesser,
 siege,
 siparmyknife,
 sipcrack,
 sipp,
 sipvicious,
 skipfish,
 sleuthkit,
 smali,
 smbmap,
 smtp-user-enum,
 sniffjoke,
 snmpcheck,
 socat,
 sparta,
 spectools,
 spike [amd64 i386],
 spooftooph,
 sqldict [amd64 i386],
 sqlitebrowser,
 sqlmap,
 sqlninja,
 sqlsus,
 sslcaudit,
 ssldump,
 sslh,
 sslscan,
 sslsniff,
 sslsplit,
 sslstrip,
 sslyze,
 statsprocessor [amd64 i386],
 stunnel4,
 suckless-tools,
 sucrack,
 swaks,
 t50 [amd64 i386],
 tcpflow,
 tcpick,
 tcpreplay,
 termineter,
 tftpd32,
 thc-ipv6,
 thc-pptp-bruter,
 thc-ssl-dos,
 theharvester,
 tlssled,
 tnscmd10g,
 truecrack,
 twofi,
 u3-pwn,
 ua-tester,
 udptunnel,
 unicornscan,
 uniscan,
 unix-privesc-check,
 urlcrazy,
 vboot-kernel-utils,
 vboot-utils,
 vinetto,
 vlan,
 voiphopper,
 volafox,
 volatility,
 vpnc,
 wafw00f,
 wapiti,
 wce,
 webacoo,
 webscarab,
 webshells,
 weevely,
 wfuzz,
 whatweb,
 wifi-honey,
 wifitap,
 wifite,
 windows-binaries,
 winexe,
 wireshark,
 wol-e,
 wordlists,
 wpscan,
 wvdial,
 xprobe,
 xspy,
 xsser,
 xtightvncviewer,
 yersinia,
 zaproxy,
 zenmap
Section: metapackages
Priority: optional
Description: Metapackage that installs a FULL penetration testing environment
 This is Parrot Security OS,
 a security focused GNU/Linux distribution.
 .
 This metapackage depends on ALL the packages that are installed by default
 on a FULL Parrot system.




Package: parrot-tools-cloud
Architecture: all
Recommends: aircrack-ng,
 apache-users,
 nginx,
 arping,
 chkrootkit,
 clusterd,
 crunch,
 cryptcat,
 davtest,
 dbd,
 dc3dd,
 dhcpig,
 dirb,
 dirbuster,
 dmitry,
 dnmap,
 dns2tcp,
 dnschef,
 dnsenum,
 dnsrecon,
 dnstracer,
 dnswalk,
 dos2unix,
 eapmd5pass,
 enumiax,
 ethtool,
 fcrackzip,
 fimap,
 findmyhash,
 fping,
 fragroute,
 fragrouter,
 golismero,
 grabber,
 hash-identifier,
 hashcat,
 hashcat-utils,
 heartbleech,
 hexinject,
 hexorbase,
 heybe,
 hping3,
 iaxflood,
 intersect,
 inundator,
 iodine,
 isr-evilgrade,
 jboss-autopwn,
 john,
 joomscan,
 laudanum,
 links,
 lynis,
 magictree,
 maligno,
 maskprocessor,
 md5deep,
 medusa,
 metasploit-framework,
 miranda,
 miredo,
 miredo-server,
 mitmproxy,
 multimac,
 nasm,
 nbtscan,
 ncrack,
 netdiscover,
 netmask,
 nikto,
 nmap,
 openssh-server,
 ophcrack-cli,
 oscanner,
 p0f,
 patator,
 plecost,
 powerfuzzer,
 powersploit,
 proxychains,
 proxystrike,
 proxytunnel,
 ptunnel,
 pwnat,
 pyrit,
 rainbowcrack,
 reaver,
 sbd,
 set,
 sfuzz,
 siege,
 skipfish,
 slowloris,
 smtp-user-enum,
 snmpcheck,
 socat,
 spiderfoot,
 sqlmap,
 sqlninja,
 sqlsus,
 sslcaudit,
 ssldump,
 sslscan,
 sslsniff,
 sslstrip,
 tcpdump,
 t50,
 thc-ipv6,
 thc-ssl-dos,
 theharvester,
 traceroute,
 whois,
 truecrack,
 udptunnel,
 unix-privesc-check,
 w3af,
 wapiti,
 webacoo,
 webshells,
 webslayer,
 websploit,
 weevely,
 whatweb,
 etherwake,
 wpscan,
 xprobe,
 xspy,
 xsser,
 yasat,
 yersinia,
 beef-xss,
 ftester,
 saidar
Suggests: oclhashcat
Section: metapackages
Priority: optional
Description: Parrot Security OS - cloud edition tools metapackage
 This is Parrot Security OS,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the headless tools that can be useful on a
 remotely controlled cloud environment.




Package: parrot-mini
Architecture: all
Recommends: aircrack-ng,
 apache-users,
 arping,
 asleap,
 bbqsql,
 bed,
 bully,
 chntpw,
 clusterd,
 cowpatty,
 creddump,
 crunch,
 criptator,
 cryptcat,
 cutycapt,
 cymothoa,
 davtest,
 dbd,
 dc3dd,
 dcfldd,
 ddrescue,
 dhcpig,
 dirb,
 dirbuster,
 dissy,
 dmitry,
 dnmap,
 dns2tcp,
 dnschef,
 dnsenum,
 dnsrecon,
 dnstracer,
 dnswalk,
 dos2unix,
 dsniff,
 eapmd5pass,
 enumiax,
 ethtool,
 ettercap-graphical,
 fcrackzip,
 ferret,
 fierce,
 fimap,
 findmyhash,
 foremost,
 fping,
 fragroute,
 fragrouter,
 golismero,
 goofile,
 grabber,
 hash-identifier,
 heartbleech,
 hexinject,
 hexorbase,
 heybe,
 hotpatch,
 hping3,
 htshells,
 iaxflood,
 intersect,
 inundator,
 inurlbr,
 iodine,
 isr-evilgrade,
 jboss-autopwn,
 john,
 joomscan,
 kismet,
 kismet-plugins,
 laudanum,
 libnet1-dev,
 libpcap-dev,
 links,
 lynis,
 macchanger,
 magictree,
 maligno,
 maskprocessor,
 md5deep,
 mdk3,
 mc,
 medusa,
 metagoofil,
 miranda,
 miredo,
 mitmproxy,
 multimac,
 nasm,
 nbtscan,
 ncrack,
 netdiscover,
 netmask,
 nishang,
 nmap,
 zenmap,
 openssh-server,
 oscanner,
 outguess,
 p0f,
 patator,
 plecost,
 powersploit,
 proxychains,
 proxystrike,
 proxytunnel,
 ptunnel,
 pwnat,
 reaver,
 reglookup,
 rig,
 safecopy,
 sbd,
 scalpel,
 sfuzz,
 shellinabox,
 siege,
 sipcrack,
 sipvicious,
 skipfish,
 slowloris,
 smtp-user-enum,
 snmpcheck,
 socat,
 spiderfoot,
 sqldict,
 sqlmap,
 sqlninja,
 sqlsus,
 sslcaudit,
 ssldump,
 sslscan,
 sslsniff,
 sslstrip,
 steghide,
 t50,
 tccf,
 tcpxtract,
 tcpick,
 tlssled,
 imsniff,
 tcptrace,
 tdsog,
 thc-ipv6,
 thc-ssl-dos,
 theharvester,
 themole,
 traceroute,
 whois,
 u3-pwn,
 ua-tester,
 udptunnel,
 unix-privesc-check,
 urlcrazy,
 volafox,
 volatility,
 wapiti,
 wce,
 webacoo,
 webshells,
 webslayer,
 websploit,
 weevely,
 whatweb,
 wireshark,
 etherwake,
 wpscan,
 xprobe,
 xspy,
 xsser,
 yersinia,
 zaproxy,
 zulucrypt,
 ftester,
 smali,
 geany,
 soundmodem,
 minimodem
Section: metapackages
Priority: optional
Description: Tools selection for Parrot Mini
 This is Parrot Security OS,
 a security focused GNU/Linux distribution.


Package: parrot-pico
Architecture: all
Recommends: nmap,
 tcpdump,
 0trace,
 aircrack-ng,
 bettercap,
 binwalk,
 dbd,
 dc3dd,
 dcfldd,
 ddrescue,
 dmitry,
 dnschef,
 dnsenum,
 dnsmap,
 dsniff,
 ethtool,
 foremost,
 hash-identifier,
 hexinject,
 iodine,
 macchanger,
 mc,
 mitmf,
 net-tools,
 netcat-traditional,
 netdiscover,
 nbtscan,
 powersploit,
 sbd,
 siege,
 slowloris,
 socat,
 sqlmap,
 sslscan,
 sslstrip,
 theharvester,
 traceroute,
 tshark,
 whois,
 webshells,
 websploit,
 weevely
Section: metapackages
Priority: optional
Description: Tools selection for Parrot Pico
 This is Parrot Security OS,
 a security focused GNU/Linux distribution.

Package: parrot-meta-all
Architecture: all
Depends: parrot-meta-forensics,
 parrot-meta-full,
 parrot-meta-gpu,
 parrot-meta-pwtools,
 parrot-meta-rfid,
 parrot-meta-sdr,
 parrot-meta-voip,
 parrot-meta-web,
 parrot-meta-wireless
Recommends: android-sdk,
 backdoor-factory,
 device-pharmer,
 doona,
 freeradius,
 hackersh,
 python-halberd,
 htshells,
 inguma,
 ismtp,
 linux-exploit-suggester,
 nishang,
 parsero,
 sandi,
 shellnoob,
 shellter,
 teamsploit,
 traceroute,
 whois,
 webhandler
Section: metapackages
Provides: parrot-tools-full
Replaces: parrot-tools-full
Enchances: parrot-tools-full
Includes: parrot-tools-full
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security - all packages
 This is Parrot Security OS,
 a security focused GNU/Linux distribution.
 .
 This metapackage depends on all the applications that Parrot Security
 provides on top of Debian GNU/Linux.


Package: parrot-meta-forensics
Architecture: any
Recommends:  afflib-tools,
 apktool [amd64 i386],
 autopsy,
 bulk-extractor [amd64 i386],
 cabextract,
 python-capstone,
 chkrootkit,
 creddump,
 dc3dd,
 dcfldd,
 ddrescue,
 dissy,
 python-distorm3,
 dff,
 dumpzilla,
 edb-debugger [amd64 i386],
 ewf-tools,
 exiv2,
 extundelete,
 fcrackzip,
 firmware-mod-kit [amd64 i386],
 flasm,
 foremost,
 galleta,
 gdb,
 cgdb,
 gparted,
 guymager [amd64 i386],
 inetsim,
 iphone-backup-analyzer,
 jad,
 javasnoop,
 libhivex-bin,
 lvm2,
 lynis,
 magicrescue,
 hashdeep,
 mdbtools,
 memdump,
 missidentify,
 nasm,
 ollydbg [amd64 i386],
 p7zip-full,
 parted,
 pasco,
 pdfid,
 pdf-parser,
 pdgmail,
 peepdf,
 pev,
 polenum,
 radare2,
 safecopy,
 readpst,
 recoverjpeg,
 recstudio [i386],
 reglookup,
 regripper [amd64 i386],
 rifiuti,
 rifiuti2,
 safecopy,
 samdump2,
 scalpel,
 scrounge-ntfs,
 sleuthkit,
 smali,
 sqlitebrowser,
 tcpdump,
 tcpflow,
 tcpick,
 tcpreplay,
 truecrack,
 unrar | unar,
 upx-ucl,
 vinetto,
 volafox,
 volatility,
 wce,
 wireshark,
 xplico [amd64 i386],
 yara
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Securiy forensic tools
 This is Parrot Security OS,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the digital forensics tools.

Package: parrot-meta-full
Architecture: all
Recommends: parrot-tools,
 parrot-meta-sdr,
 0trace,
 acccheck,
 ace-voip,
 afflib-tools,
 aircrack-ng,
 amap,
 apache-users,
 apktool,
 arduino,
 armitage,
 arping,
 arpwatch,
 arp-scan,
 asleap,
 automater,
 autopsy,
 backdoor-factory,
 bbqsql,
 bdfproxy,
 bed,
 beef-xss,
 binwalk,
 blindelephant,
 bluelog,
 blueranger,
 bluesnarfer,
 bluez,
 bluez-hcidump,
 braa,
 btscanner,
 bully,
 bulk-extractor,
 burpsuite,
 cabextract,
 cadaver,
 casefile,
 cdpsnarf,
 cewl,
 cgpt,
 chirp,
 chkrootkit,
 chntpw,
 cisco-auditing-tool,
 cisco-global-exploiter,
 cisco-ocs,
 cisco-torch,
 clang,
 clusterd,
 cmospwd,
 commix,
 copy-router-config,
 cowpatty,
 creddump,
 creepy,
 cryptsetup,
 crunch,
 cryptcat,
 curlftpfs,
 cutycapt,
 cymothoa,
 darkstat,
 davtest,
 dbd,
 dc3dd,
 dcfldd,
 ddrescue,
 deblaze,
 dex2jar,
 dff,
 dhcpig,
 dirb,
 dirbuster,
 dissy,
 dmitry,
 dnmap,
 dns2tcp,
 dnschef,
 dnsenum,
 dnsmap,
 dnsrecon,
 dnstracer,
 dnswalk,
 dos2unix,
 dotdotpwn,
 dradis,
 driftnet,
 dsniff,
 dumpzilla,
 doona,
 eapmd5pass,
 edb-debugger,
 enum4linux,
 enumiax,
 etherape,
 ethtool,
 ettercap-graphical,
 ewf-tools,
 exiv2,
 exploitdb,
 extundelete,
 fcrackzip,
 fern-wifi-cracker,
 ferret-sidejack,
 fierce,
 fiked,
 fimap,
 findmyhash,
 flasm,
 foremost,
 fping,
 fragroute,
 fragrouter,
 framework2,
 ftester,
 funkload,
 galleta,
 gdb,
 cgdb,
 ghost-phisher,
 giskismet,
 golismero,
 gpp-decrypt,
 grabber,
 guymager,
 hackrf,
 hamster-sidejack,
 hash-identifier,
 hashcat,
 hashcat-utils,
 hexinject,
 hexorbase,
 hashid,
 hotpatch,
 hping3,
 httrack,
 hydra,
 hydra-gtk,
 i2c-tools,
 iaxflood,
 ifenslave,
 ike-scan,
 imagemagick,
 inetsim,
 inguma,
 intersect,
 intrace,
 inviteflood,
 iodine,
 irpas,
 jad,
 javasnoop,
 jboss-autopwn,
 john,
 johnny,
 joomscan,
 jsql,
 kayak,
 keepnote,
 keimpx,
 killerbee,
 king-phisher,
 kismet,
 laudanum,
 lbd,
 libfindrtp,
 libfreefare-bin,
 libhivex-bin,
 libnfc-bin,
 lynis,
 macchanger,
 magicrescue,
 magictree,
 maltego,
 maltego-teeth,
 maskprocessor,
 mc,
 hashdeep,
 masscan,
 mdbtools,
 mdk3,
 medusa,
 memdump,
 metasploit-framework,
 mfcuk,
 mfoc,
 mfterm,
 mimikatz,
 minicom,
 miranda,
 miredo,
 msfpc,
 missidentify,
 mitmproxy,
 multimac,
 nasm,
 nbtscan,
 ncat-w32,
 ncrack,
 ncurses-hexedit,
 netdiscover,
 netmask,
 netsed,
 netsniff-ng,
 netwag,
 nfspy,
 ngrep,
 nikto,
 nipper-ng,
 nishang,
 nmap,
 ohrwurm,
 ollydbg,
 onesixtyone,
 openvas,
 ophcrack,
 ophcrack-cli,
 oscanner,
 p0f,
 pack,
 padbuster,
 paros,
 pasco,
 passing-the-hash,
 patator,
 pdfid,
 pdf-parser,
 pdgmail,
 peepdf,
 perl-cisco-copyconfig,
 pev,
 pipal,
 pixiewps,
 plecost,
 polenum,
 powerfuzzer,
 powersploit,
 protos-sip,
 proxychains,
 proxystrike,
 proxytunnel,
 ptunnel,
 pwnat,
 pyrit,
 python-faraday,
 python-impacket,
 python-rfidiot,
 python-scapy,
 rainbowcrack,
 radare2,
 rake,
 ratproxy,
 rcracki-mt,
 rdd,
 readpst,
 reaver,
 rebind,
 recon-ng,
 vokoscreen,
 recoverjpeg,
 recstudio,
 redfang,
 redsocks,
 reglookup,
 regripper,
 responder,
 rifiuti,
 rifiuti2,
 rsmangler,
 rtpbreak,
 rtpflood,
 rtpinsertsound,
 rtpmixsound,
 safecopy,
 sakis3g,
 samdump2,
 sbd,
 scalpel,
 scrounge-ntfs,
 sctpscan,
 sendemail,
 set,
 sfuzz,
 sidguesser,
 siege,
 siparmyknife,
 sipcrack,
 sipp,
 sipvicious,
 skipfish,
 sleuthkit,
 smali,
 smbmap,
 smtp-user-enum,
 sniffjoke,
 snmpcheck,
 socat,
 sparta,
 spectools,
 spike,
 spooftooph,
 sqldict,
 sqlitebrowser,
 sqlmap,
 sqlninja,
 sqlsus,
 sslcaudit,
 ssldump,
 sslh,
 sslscan,
 sslsniff,
 sslstrip,
 sslsplit,
 sslyze,
 statsprocessor,
 stunnel4,
 suckless-tools,
 sucrack,
 swaks,
 t50,
 tcpflow,
 tcpick,
 tcpreplay,
 termineter,
 tftpd32,
 thc-ipv6,
 thc-pptp-bruter,
 thc-ssl-dos,
 theharvester,
 tlssled,
 tnscmd10g,
 traceroute,
 whois,
 truecrack,
 twofi,
 u3-pwn,
 ua-tester,
 udptunnel,
 uniscan,
 unicornscan,
 unix-privesc-check,
 urlcrazy,
 vane,
 vboot-kernel-utils,
 vboot-utils,
 vega,
 vlan,
 voiphopper,
 volafox,
 volatility,
 vpnc,
 w3af,
 waffit,
 wafw00f,
 wapiti,
 wce,
 webacoo,
 webscarab,
 webshells,
 websploit,
 weevely,
 winexe,
 wfuzz,
 whatweb,
 wifi-honey,
 wifitap,
 wifite,
 windows-binaries,
 wireshark,
 wol-e,
 wordlists,
 wpscan,
 wvdial,
 xpdf,
 xprobe,
 xspy,
 xsser,
 yersinia,
 zaproxy,
 zenmap,
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security complete system
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage depends on all the applications that Parrot Security
 provides on top of Debian GNU/Linux.


Package: parrot-meta-gpu
Architecture: any
Installed-Size: 28
Recommends: oclhashcat,
 oclhashcat [amd64 i386],
 pyrit,
 oclgausscrack [amd64 i386],
 truecrack,
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security GPU tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the gpu cracking tools.

Package: parrot-meta-pwtools
Architecture: any
Recommends: parrot-meta-gpu,
  chntpw,
 cmospwd [amd64 i386],
 crunch,
 fcrackzip,
 findmyhash,
 gpp-decrypt,
 hash-identifier,
 hashcat [amd64 i386],
 hashcat-utils [amd64 i386],
 hashid,
 hydra,
 hydra-gtk,
 john,
 johnny,
 keimpx,
 maskprocessor [amd64 i386],
 medusa,
 mimikatz,
 ncrack,
 ophcrack,
 ophcrack-cli,
 pack,
 passing-the-hash,
 patator,
 pdfcrack,
 pipal,
 polenum,
 rainbowcrack [amd64 i386],
 rarcrack,
 rcracki-mt,
 rsmangler,
 samdump2,
 seclists,
 sipcrack,
 sipvicious,
 sqldict [amd64 i386],
 statsprocessor [amd64 i386],
 sucrack,
 thc-pptp-bruter,
 truecrack,
 twofi,
 wce,
 wordlists
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security password cracking tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the password cracking and bruteforcing tools.

Package: parrot-meta-rfid
Architecture: all
Recommends: libfreefare-bin,
 libnfc-bin,
 mfcuk,
 mfoc,
 mfterm,
 python-rfidiot
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security RFID tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the rfid testing tools.

Package: parrot-meta-sdr
Architecture: any
Recommends: gnuradio,
 gnuradio,
 chirp,
 hackrf,
 kalibrate-rtl,
 rtlsdr-scanner,
 gqrx-sdr,
 multimon-ng [amd64],
 uhd-host,
 uhd-images,
 libgnuradio-baz,
 gr-osmosdr,
 gr-iqbal,
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security SDR tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the software defined radio tools.

Package: parrot-meta-voip
Architecture: any
Recommends: ace-voip,
 dnmap,
 enumiax,
 iaxflood,
 inviteflood,
 libfindrtp [amd64 i386],
 nmap,
 ohrwurm,
 protos-sip,
 rtpbreak,
 rtpflood,
 rtpinsertsound [amd64 i386],
 rtpmixsound [amd64 i386],
 sctpscan [amd64 i386],
 siparmyknife,
 sipcrack,
 sipp,
 sipvicious,
 voiphopper,
 wireshark
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security VoIP tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the voip testing tools.

Package: parrot-meta-web
Architecture: any
Recommends: afl,
 nginx,
 apache-users,
 arachni [amd64 i386],
 automater,
 bbqsql,
 beef-xss [amd64 i386 armhf arm64],
 blindelephant,
 burpsuite,
 cadaver,
 clusterd,
 cookie-cadger,
 cutycapt,
 davtest,
 dirb,
 dirbuster,
 dnmap,
 dotdotpwn,
 eyewitness [amd64 i386],
 ferret-sidejack [i386],
 ftester,
 funkload,
 golismero,
 grabber,
 python-halberd,
 hamster-sidejack,
 hexorbase,
 http-tunnel,
 httprint [amd64 i386],
 httrack,
 hydra,
 hydra-gtk,
 jboss-autopwn,
 joomscan,
 jsql-injection,
 jsql,
 laudanum,
 lbd,
 maltegoce,
 maltego-teeth,
 medusa,
 mitmproxy,
 default-mysql-server,
 postgresql,
 ncrack,
 nikto,
 nishang,
 nmap,
 oscanner,
 owasp-mantra-ff [amd64 i386],
 padbuster,
 paros,
 patator,
 php,
 php-mysql,
 php-pgsql,
 plecost,
 powerfuzzer,
 proxychains,
 proxystrike,
 proxytunnel,
 redsocks,
 sidguesser,
 siege,
 skipfish,
 slowhttptest,
 sqldict [amd64 i386],
 sqlitebrowser,
 sqlmap,
 sqlninja,
 sqlsus,
 sslcaudit,
 ssldump,
 sslh,
 sslscan,
 sslsniff,
 sslstrip,
 sslsplit,
 sslyze,
 stunnel4,
 thc-ssl-dos,
 tlssled,
 tnscmd10g,
 ua-tester,
 uniscan,
 vega [amd64 i386],
 wafw00f,
 wapiti,
 webacoo,
 webhandler,
 webscarab,
 webshells,
 weevely,
 wfuzz,
 whatweb,
 wireshark,
 wpscan,
 xsser,
 zaproxy
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security webapp assessment tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the web application testing tools.

Package: parrot-meta-wireless
Architecture: any
Depends: parrot-meta-sdr
Recommends: aircrack-ng,
 airgeddon,
 pyrit,
 asleap,
 bluelog,
 blueranger,
 bluesnarfer,
 bluez,
 bluez-hcidump,
 btscanner,
 bully,
 cowpatty,
 crackle,
 eapmd5pass,
 fern-wifi-cracker,
 giskismet,
 iw,
 killerbee,
 kismet,
 libfreefare-bin,
 libnfc-bin,
 macchanger,
 mdk3,
 mfcuk,
 mfoc,
 mfterm,
 oclhashcat [amd64 i386],
 python-rfidiot,
 reaver,
 redfang,
 rfcat [amd64 i386 armel],
 rfkill,
 sakis3g,
 spectools,
 spooftooph,
 ubertooth,
 wifi-honey,
 wifitap,
 wifite,
 wireshark
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security wireless tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides all the wireless testing tools.


Package: parrot-meta-automotive
Architecture: any
Depends: parrot-meta-sdr
Recommends: can-utils,
 kayak,
 wireshark
Section: metapackages
Priority: optional
Homepage: http://www.parrotsec.org
Description: Parrot Security automotive tools
 This is Parrot Security,
 a security focused GNU/Linux distribution.
 .
 This metapackage provides the car-hacking/automotive tools.
