Package: parrot-tools-full
Version: 1.3
Architecture: all
Maintainer: Lorenzo EclipseSparl Faletra <eclipse@frozenbox.org>
Installed-Size: 26
Depends: parrot-tools
Recommends: parrot-tools, parrot-tools-arm, parrot-tools-cloud, parrot-meta-all, parrot-meta-full, parrot-meta-forensic, parrot-meta-gpu, parrot-meta-pwtools, parrot-meta-rfid, parrot-meta-sdr, parrot-meta-voip, parrot-meta-web, parrot-meta-wireless
Section: metapackages
Priority: optional
Description: Metapackage that installs a FULL penetration testing environment
 This is Parrot Security OS, the most advanced penetration testing and security
 auditing distribution.
 .
 This metapackage depends on ALL the packages that are installed by default
 on a FULL Parrot system.
